
/*DISEÑO MOBILE-FIRST*/
.serVisible{
    display: none;
}
.rectangle-24  {
    height: 25px;
    width: 100%;
    background-color: #808080;
    text-align:center;
}

.envio-gratis-a-parti {

    color: #FFFFFF;
    font-family: "Brandon Grotesque";
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.shape {
    height: 16px;
    width: 18px;
}
.fill-1 {	
    height: 18.88px;
    width: 20.27px;
}

.quito-linea {
    border: 0px;
}


.bg-busca {
    height: 35px;
    width: 312px;
    border: 1px solid #EBE7E4;
    background-color: #FBFAF9;
}

.bg-button {	
    height: 35px;	
    width: 35px;	
    background-color: #5CB8A3;

}
.search-material {
    height: 18px;	
    width: 18px;
}
.rectangle-18 {	
    height: 25px;	
    width: 320px;	
    background-color: #EE988B;
    width: 100%;
}

.promociones-de-invi {	
    height: 16px;
    width: 100%;
    color: #FFFFFF;
    font-family: "Brandon Grotesque";
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.imagen-fondo-nav {
    background-image: url("../images/Montaje_productos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rebajas-70 {	
    height: 52px;	
    width: 100%;	
    color: #4A4A4A;	
    font-family: "Brandon Grotesque";	
    font-size: 36px;	
    font-weight: bold;	
    line-height: 52px;	
    text-align: center;
}

.hasta-50-en-product {	
    height: 20px;	
    width: 100%;	
    color: #4A4A4A;	
    font-family: "Brandon Grotesque";	
    font-size: 14px;	
    font-weight: 500;	
    line-height: 20px;	
    text-align: center;
}

.compra-ya {	
    height: 20px;	
    width: 100%;
    color: #FFFFFF;	
    font-family: "Brandon Grotesque";	
    font-size: 14px;	
    font-weight: bold;	
    line-height: 20px;	
    text-align: center;
}
 .color-boton{
    background-color: #5CB8A3;
 }
 .margen {
     border: 2px solid violet;
     
 }

 @media all and (min-width:990px) {
    .visible {
         display:none;
    }
    .serVisible{
         display: inline;
    }

    .colocacion-div-superior {
        display:flex;
        justify-content: space-around;
    }
 
    .containerDivDesktop {
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    .fill-1 {
        height: 30px;
    }
    .containerDivDesktop > form {
        margin-top:30px;
    }
    .color-fondo {
        background-color: #FBFAF9;
    }
    .fill-2 {
        width: 10%;
    }
    .containerDivDesktop > p {
        margin-top:3%;
    }
 }